<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" -->
    <script src="jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>charity</title>
    <script src='socket.io/socket.io.js'></script>
    <script>
        var socket = io('http://127.0.0.1:3000');
    </script>
    <style>
        #main-menu li #a3 {
            margin: 8px 15px;
            text-transform: uppercase;
            font-size: 14px;
            /* width: fit-content; */
            padding-bottom: 8px;
            border-bottom: 6px solid green;
        }
    </style>
</head>

<body>
    <%- include('menuLogined'); -%>
        <div class="container" style="min-height:500px;margin-top: 20px;">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="/charity" method="post">
                        <div class="form-group">
                            <label for="charity-name">Người nhận:</label>
                            <select id="charity-name" name="charity_pub_key">
                                <!--  -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="monney">Số tiền:</label>
                            <input type="text" class="form-control" id="monney" placeholder="000" name="amount">
                        </div>
                        <button type="submit" class="btn btn-primary" id='gui'>Gửi</button>
                    </form>
                </div>
            </div>
        </div>
        <span id='variableJSON' hidden>
            <%= JSON.stringify(users); %>
        </span>
        <script>
            if ("<%= err %>" != "")
                alert("<%= err %>");
            $('#gui').click(() => {
                $('.form-control').val = 0;
            });
            var users = JSON.parse($('#variableJSON').text());
            $('#variableJSON').remove();
            users.forEach(function(user) {
                if (user.username != localStorage.getItem("userName")) {
                    var dl = '<option value="' + user.pub_key + '">' + user.username + '</option>';
                    $("#charity-name").append(dl);
                    // var option=document.createElement('option');
                    // var text=option.setAttribute("value",user.pub_key);

                }
            });
        </script>
        <%- include('footer'); -%>
</body>

</html>