<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" -->
    <script src="jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>home</title>
    <script src='socket.io/socket.io.js'></script>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <script>
        var socket = io('http://127.0.0.1:3000');
        socket.on("send_data_when_login", function(data) {
            if (typeof(Storage) !== "undefined") {
                //chỗ này chưa kiểm tra chain, nên kiểm tra lại chain
                localStorage.setItem("blockChained", JSON.stringify(data));
                // console.log(localStorage.getItem('blockChained'));
                localStorage.setItem("pendingTransactions", JSON.stringify({
                    pendTrans: []
                }));
            } else {
                alert("Sorry, your browser does not support Web Storage...");
            }
        });
    </script>
    <!-- <script src='socket.io/socket.io.js'></script>

    <script>
        import low from 'lowdb'
        import LocalStorage from 'lowdb/adapters/LocalStorage'

        const adapter = new LocalStorage('db');
        const db = low(adapter);

        db.defaults({ blockChained: [] }).write();
        var socket = io('http://localhost:3000');

        $(document).ready(function() {
            $('#dangky').click(() => {
                socket.emit('dangky_click');
            });
        });
    </script> -->
    <script>
        if (typeof(Storage) !== "undefined") {
            var name = new String('<%=user.username%>');
            localStorage.setItem("userName", name);
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
    </script>
</head>

<body>
    <%- include('menuLogined'); -%>
        <div class="container" style="min-height:800px">
            <div class="row">
                <div class="col-md-3">

                    <h3>xin chào:
                        <%= user.username  %>
                    </h3>
                    <h4>public key:
                        <%= user.pub_key  %>
                    </h4>
                    <h5 id="balance">số dư tài khoản:
                        <%= user.money  %>
                    </h5>
                    <h5>số tiền bạn đã từ thiện:
                        <%= locals.tienDaTuThien  %>
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <button id="btnCharity">
					<a href="/charity">Bắt đầu từ thiện</a>
				</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>ngày</th>
                            <th>từ</th>
                            <th>tới</th>
                            <th>số tiền</th>
                        </thead>
                        <tbody>


                        </tbody>

                    </table>
                    <script type="text/javascript">
                        <%
							if(locals.blockChain) {
						 		for(i = 1; i < blockChain.length; i++) {
						 			blockChain[i].transactions.forEach(function(tran) {
                                         if(tran.fromAdress ===user.pub_key){ %>
                        var body = '<tr><td>' + '<%= blockChain[i].timestamp %>' + '</td><td>' + '<%= tran.fromAdress %>' +
                            "</td><td>" + '<%= tran.toAdress %>' + '</td><td>' + '<%= tran.amount %>' + '</td></tr>'
                        $('tbody').append(body)

                        <%} })}} %>
                    </script>
                </div>
            </div>
        </div>
        <%- include('footer'); -%>
</body>

</html>